@using FakeSmtp

<style>
	span.green-on {
		color: green; 
		padding:0 19px 0 10px;
		-ms-opacity: 0.5;
		opacity: 0.5;
	}

	span.red-off {
		color: red; 
		padding:0 10px;
		-ms-opacity: 0.5;
		opacity: 0.5;
	}
</style>


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			<a class="navbar-brand" href="/">FAKE SMTP @Html.Raw(MvcApplication.IsSmtpServerOn ? "<span class='green-on'>ON</span>" : "<span class='red-off'>OFF</span>")</a>
		</div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="@(ViewContext.RouteData.Values["action"].ToString() == "Headers" ? "active" : "")">
					@(Html.ActionLink("Headers", "Headers", "Home"))
				</li>

				<li class="@(ViewContext.RouteData.Values["action"].ToString() == "Messages" ? "active" : "")">
					@Html.ActionLink("Messages", "Messages", "Home")
				</li>
				<li class="@(ViewContext.RouteData.Values["action"].ToString() == "Settings" ? "active" : "")">
					@Html.ActionLink("Settings", "Settings", "Home")
				</li>

			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="http://www.artezio.com" style="padding: 7px 25px 6px;">
						<img src="@Url.Content("~/Content/img/logo.png")" alt="www.artezio.com"/>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>	